<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-12 dynamic">
    <div class="row">
      <% @tasks.each_slice(3) do | task_slice | %>
        <div class="row">
          <% task_slice.each do |task|%>
            <div class="col-xs-6 col-lg-3 item_task">
              <div class="row">
                <%= image_tag(task.cover_image.thumb) %>
              </div>
              <div class="item_task_content row">
                <div class="photo_profile_list">
                  <h2><%= task.title %></h2>
                  <p> Due date <%= task.end_date %></p>
                  <% if task.state == "to_do" %>
                    <div class="countdown_timer_small" data-countdown="<%= task.end_date %> <%= task.hour%>:00"></div>
                  <%else%>
                    <div class="countdown_timer_small">TIME IS FINISH</div>
                  <%end%>
                  <p><%= link_to "View details", task_path(task), :class => "btn btn-default", :role => "button" %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
