 <div class="container task"> 
  <div class="text-center">
    <h3 class="baseline_titte">Booostme helps you get encouragement for successful your daily challenges</h3>
  </div>
  <div class="form-signin task">
    <h2 class="title_task">New task</h2>
    <%= form_for(@task, url: {action: "create"}, html: { method: :post, multipart: true }, :html => {:class => "form-horizontal"} ) do |f| %>
      <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title, autofocus: true, :class => "form-control" %>
      </div>
      <br />

      <div class="field">
        <%= f.label :end_date %><br />
        <%= f.text_field :end_date, autofocus: true, :type => "date", :class => "form-control" %>
      </div>

      <br />

      <div class="field">
        <%= f.label :hour %><br />
        <%= f.text_field :hour, autofocus: true, :type => "number" %>
      </div>

      <div class="field">
        <%= f.label :cover_image %><br />
        <%= f.file_field :cover_image, autofocus: true %>
      </div>

      <div class="actions">
        <%= f.submit "Create", :class =>  "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>