<div class="col-md-2 item_show_task">
  <%=  render "user_task_information" %>
  <%=  render "boost_type" %>
</div>

<div class="col-md-6">
  <div class="row item_show_task">
    <h2><%= @task.title.capitalize %></h2>
    <p>By <%= @task.user.login %></p>
    <h3><%= @task.end_date.to_formatted_s(:long_ordinal) %></h3>
    <% if @task.time_before_end > 0 && @task.state == "to_do" %>
    <div class="row">
      <div class="countdown_timer">
        <span id="getting-started"></span>
      </div>
    </div>
      <div class="row">
        <% if current_user == @task.user %>
          <%= link_to "Stop Timer", stop_timer_task_path(@task), :class => "btn btn-lg btn-danger stop_timer_button", :role => "button", method: :put %>
        <% end %>
      </div>
    <% else %>
      <h1>TIME IS FINISH </h1>
      <%= form_for(@task, url: validation_end_task_path(@task), html: {method: :put,  multipart: true}) do |f|%>
        <div class="field row">
          <div class="col-md-4 col-md-offset-4">
              <span class="file-input btn btn-block btn-primary btn-file">
                  Choose File &hellip;  <%= file_field_tag :image, :class => "file", :onchange => "readURL(this, 'img_prev');", id: "validation_image"%>
              </span>
              <img id="img_prev" class="img_preview" />
          </div>
        </div>
        <div class="actions row">
          <%= f.submit "Upload image", :class => "btn btn-lg btn-primary" %>
        </div>
      <%end%>
    <%end%>
  </div>
  <div class="row item_show_task list_of_boost">
    <%= render 'task_list_boost' %>
  </div>
</div>

<div class="col-md-2 item_show_task">
  <div class="row ">
    <h4>Beginnig</h4>
    <div><%= image_tag(@task.cover_image.xxl, :class => "image_100_width") %></div>
  </div>
  <% if @task.state == "confirmed" %>
    <h4>End:</h4>
    <div class='row'>
      <div><%= image_tag(@task.validation_image.xxl, :class => "image_100_width")  %></div>
    </div>
  <%end%>
</div>

<script type="text/javascript">
  $("#getting-started").countdown("<%= @task.end_date%>" + " <%= @task.hour %>:00", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  }).on('finish.countdown', function(){location.reload()});


  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_umZbkFDV0vblJJX97EuGm9Su');
  // ...
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $(".boost_text_link").click(function(){
      $(".boost_text_form").show();
      $(".boost_img_form").hide();
      $(".boost_money_form").hide();
    });

    $(".boost_img_link").click(function(){
      $(".boost_text_form").hide();
      $(".boost_img_form").show();
      $(".boost_money_form").hide();
    });

    $(".boost_money_link").click(function(){
      $(".boost_text_form").hide();
      $(".boost_img_form").hide();
      $(".boost_money_form").show();
    });

  });
</script>
