<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-12">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="jumbotron">
      <h2><%= @task.title %></h2>
      <p>Owner <%= @task.user.login %></p>
      <p>Due date <%= @task.end_date%></p>
      <div class="clock" style="margin:2em;"></div>
      <div class="message"></div>
    </div>
    <div class="row">
      <% @task.boosts.each do |boost|%>
        <div class="col-xs-6 col-lg-4">
          <h4><%= boost.content %></h4>
          <%if boost.img %>
            <%= image_tag(boost.img) %>
          <%end%>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">
  var clock;
  
  $(document).ready(function() {
    var clock;

    clock = $('.clock').FlipClock({
          clockFace: 'DailyCounter',
          autoStart: false,
          callbacks: {
            stop: function() {
              $('.message').html('The clock has stopped!')
            }
          }
      });
          
      clock.setTime(<%= @task.time_before_end %>);
      clock.setCountdown(true);
      clock.start();

  });
</script>
