<div class="row row-offcanvas row-offcanvas-right">
  <div class="container">
    <div class="col-xs-12 col-sm-12">
      <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
      </p>
      <div class="jumbotron">
        <h2><%= @task.title %></h2>
        <p>Owner <%= @task.user.login %></p>
        <p>Due date <%= @task.end_date%></p>
        <div class="clock" style="margin:2em;"></div>
        <div class="message"></div>
      </div>
      <div class="row">
        <h3>Boost him with :</h3>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="message">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     <%= image_tag("pencil.png", :class => "img_booost") %> Message
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="message">
                <div class="panel-body">
                  <%= form_for(@boost, url: text_boost_task_path(@task), html: {method: :post}) do |f|%>
                    <%= f.hidden_field :type, :value => "TextBoost" %>
                    <div class="field">
                      <%= f.label :text %><br />
                      <%= f.text_area :text, autofocus: true, size: "24x6" %>
                    </div>

                    <div class="actions">
                      <%= f.submit "send Boost", :class => "btn btn-lg btn-primary" %>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
           </div>
           <div class="col-sm-3">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="photo">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <%= image_tag("picture.png", :class => "img_booost") %> Photo
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="photo">
                <div class="panel-body">
                  <%= form_for(@boost, url: picture_boost_task_path(@task), html: {method: :post, multipart: true}) do |f|%>
                    <%= f.hidden_field :type, :value => "PictureBoost" %>
                    <div class="field">
                      <%= f.file_field :image%>
                    </div>

                    <div class="actions">
                      <%= f.submit "send Picture", :class => "btn btn-lg btn-primary" %>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="photo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <%= image_tag("money.png", :class => "img_booost") %> Money
                </a>
              </h4>
            </div>
            <div class="col-sm-3">
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="photo">
                <div class="panel-body">
                  <%= form_for(@boost, url: money_boost_task_path(@task), html: {method: :post, id: "payment-form"}) do |f|%>
                    <%= f.hidden_field :type, :value => "MoneyBoost" %>
                    <span class="payment-errors"></span>

                    <%= f.radio_button(:money, 100) %>
                    <%= label_tag(:one_dollar, "$1") %>
                    <%= f.radio_button(:money, 500) %>
                    <%= label_tag(:five_dollar, "$5") %>
                    <%= f.radio_button(:money, 1000) %>
                    <%= label_tag(:ten_dollar, "$10") %>

                    <div class="form-row">
                      <label>
                        <span>Card Number</span>
                        <input type="text" size="20" data-stripe="number" id="card_number" />
                      </label>
                    </div>

                    <div class="form-row">
                      <label>
                        <span>CVC</span>
                        <input type="text" size="4" data-stripe="cvc" id="cvc"/>
                      </label>
                    </div>

                    <div class="form-row">
                      <label>
                        <span>Expiration (MM/YYYY)</span>
                        <input type="text" size="2" data-stripe="exp-month" id="exp-month"/>
                      </label>
                      <span> / </span>
                      <input type="text" size="4" data-stripe="exp-year" id="exp-year" />
                    </div>

                    <div class="actions">
                      <%= f.submit "send money", :class => "btn btn-lg btn-primary" %>
                    </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <h3>List of boost</h3>
        <% @task.boosts.each do |boost|%>
          <div class="col-xs-6 col-lg-4">
          <%= boost.content.html_safe%>
             <p>by <%= boost.user.login%></p>
          </div>
        <% end %>
      </div>
  </div>
</div>


<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_umZbkFDV0vblJJX97EuGm9Su');
  // ...
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
</script>


<script type="text/javascript">
  var clock;
  
  $(document).ready(function() {
    var clock;

    clock = $('.clock').FlipClock({
          clockFace: 'DailyCounter',
          autoStart: false,
          callbacks: {
            stop: function() {
              $('.message').html('The clock has stopped!')
            }
          }
      });
          
      clock.setTime(<%= @task.time_before_end %>);
      clock.setCountdown(true);
      clock.start();

  });
</script>
