
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-xs-12 col-sm-12" id="content_menu">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="menu_content">
      <div class="container">
        <div class="col-xs-12 col-sm-12 punchline">
          <%= image_tag("booostme_500vert.png", :class => "logo_content hidden-phone") %>
          <h2>Challenge yourself and be boosted <br> by the people around the world</h2>
        </div>
      </div>
      <!--<h1>Booostme</h1>
      <p>Get support around the world for your daily challenges.</p>-->
    </div>
    <div class="row">
     <div class="container ">
       <h3>Featured</h3>
      <% @tasks.each do | task | %>
        <div class="col-xs-6 col-lg-4">
          <h2><%= task.title %></h2>
          <p> Due date <%= task.end_date %></p>
          <div class="countdown">
            <p class="date" style="display:none"><%= task.end_date.strftime("%d %B %Y") %></p>
            <span class="days">00</span>
            <span class="timeRefDays">days</span>
            <span class="hours">00</span>
            <span class="timeRefHours">hours</span>
            <span class="minutes">00</span>
            <span class="timeRefMinutes">minutes</span>
            <span class="seconds">00</span>
            <span class="timeRefSeconds">seconds</span>
          </div>
          <p><%= link_to "View details", task_path(task), :class => "btn btn-default", :role => "button" %></p>
        </div>
      <% end %>
    </div>
   </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $('.countdown').each(function(){
      $(this).countdown({
        date: $(this).find(".date").text(),
        format: "on"
      });
    });

  });
</script>
