<!DOCTYPE html>
<html>
<head>
  <title>Booostme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application'%>
<!--   <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %> -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<bo<dy cz-shortcut-listen="true">


  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to (image_tag("booostme_400vert.png", class: "logo")), root_path %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<%= link_to "Booostme", root_path, :class => "navbar-brand" %>-->
       
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-left">
          <li><%= link_to "Create challenge",  new_task_path, class: "linknav"%></li>
          <li><%= link_to "All challenge",  task_index_path, class: "linknav"%></li>
          <li><%= link_to "Successful challenge",  task_index_path, class: "linknav"%></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              Category <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Todo task", category_task_index_path(:state => "to_do"), :class => "btn btn-default", :role => "button" %></li>
              <li><%= link_to "Pending task", category_task_index_path(:state => "pending"), :class => "btn btn-default", :role => "button" %></li>
              <li><%= link_to "Confirmed task", category_task_index_path(:state => "confirmed"), :class => "btn btn-default", :role => "button" %></li>
            </ul>
          </li>
          <%= render 'devise/shared/login_items' %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav>


  
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <%= yield %>

  <div class="container">
    <footer>  
      <ul class="dsg-landing-list">
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Terms", terms_path %>
      </li>
      <li>
        ©Booostme 2015
      </li>
    </ul>
    </footer>
  </div>

</body>
</html>
