<!DOCTYPE html>
<html>
<head>
  <title>Booostme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body cz-shortcut-listen="true">


  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <%= link_to (image_tag("booostme_400vert.png", class: "logo")), root_path %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<%= link_to "Booostme", root_path, :class => "navbar-brand" %>-->
       
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-left">
          <li><%= link_to "Create challenge",  new_task_path, class: "linknav"%></li>
          <li><%= link_to "All challenge",  task_index_path, class: "linknav"%></li>
          <li><%= link_to "Successful challenge",  task_index_path, class: "linknav"%></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <%= render 'devise/shared/login_items' %>
        </ul>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav>


  
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <%= yield %>
  <div class="container">  
    <footer>
        <p>© Company 2014</p>
        
    </footer>
  </div>

</body>
</html>
